body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(0, 0, 0);
  /* background: url("/public/Loading/8635.jpg") no-repeat center center fixed;
  display: flex;
  background-size: cover;
  justify-content: center;
  height: 100vh;
  width: 100vw; */
}
